<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="shortcut icon" href="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-hotel-hotel-wanicon-lineal-color-wanicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                   alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form th:action="@{/process_register}" method="post" th:object="${user}">

                  <input type="hidden" th:field="*{id}">
                  <div class="border border-secondary rounded p-3">
                    <div class="input-group row m-2">
                      <label class="col-sm-4 col-form-label">E-mail:</label>
                      <div class="col-sm-8">
                        <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45">
                      </div>
                    </div>
                    <div class="input-group row m-2">
                      <label class="col-sm-4 col-form-label">First Name:</label>
                      <div class="col-sm-8">
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45">
                      </div>
                    </div>
                    <div class="input-group row m-2">
                      <label class="col-sm-4 col-form-label">Last Name:</label>
                      <div class="col-sm-8">
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45">
                      </div>
                    </div>
                    <div class="input-group row m-2">
                      <label class="col-sm-4 col-form-label">Password:</label>
                      <div class="col-sm-8">
                        <input type="password" th:field="*{password}" class="form-control" required minlength="8" maxlength="45">
                      </div>
                    </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Sign Up</button>
                  </div>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>