<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container-fluid text-center">
  <form th:action="@{/logout}" method="post">
    <p>
      Welcome <b>[[${#request.userPrincipal.principal.Username}]]</b>
    </p>
    <input type="submit" value="Sign Out">
  </form>
  <div>
    <h2>Manage Users</h2>
  </div>
  <div class="m-2">
    <a class="h3" th:href="@{/users/new}">Add new User</a>
    &nbsp;|&nbsp;
    <a class="h3" th:href="@{/users/export}">Export to PDF</a>
    &nbsp;|&nbsp;
    <a class="h3" th:href="@{/users/exportEXCEL}">Export to EXCEL</a>
  </div>
  <div>
      &nbsp;
  </div>
  <div>
    <form th:action="@{/users}" th:value="${keyword}">
      Filter: <input type="text" name="keyword" required>
      &nbsp;
      <input type="submit" value="Search">
      &nbsp;
      <input type="button" value="Clear" onclick="clearFilter()">
    </form>
  </div>
  <div>
    &nbsp;
  </div>
  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>
  <div>
    <div>

    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>E-mail</th>
          <th>Enabled</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tboby>
        <th:block th:each="user : ${listUsers}">
          <tr>
            <td>[[${user.userId}]]</td>
            <td>[[${user.email}]]</td>
            <td>[[${user.enabled}]]</td>
            <td>[[${user.userTypeId}]]</td>

            <td>
              <a class="h4 mr-3" th:href="@{'/users/edit/' + ${user.userId}}">Edit</a>
              <a class="h4" th:href="@{'/users/delete/' + ${user.userId}}">Delete</a>
            </td>
          </tr>
        </th:block>
      </tboby>
    </table>
    </div>

  </div>

</div>
<script type="text/javascript">
  function clearFilter() {
    window.location = "/users"
  }
</script>
</body>
</html>